*.autosave
*.pyc
*.user
*~
.*.swp
.DS_Store
*.sw[a-z]
Thumbs.db
tags
tegra/
bin/
*.sdf
*.opensdf
*.obj
*.stamp
*.depend
*.rule
*.tmp
*/debug
*/CMakeFiles
CMakeCache.txt
*.suo
*.log
*.tlog
build
similarity_reconstruction-build
add_copyright.sh
mycopyright
*backup*
*.sh.swo
init_paths.sh
